# LLM configuration
LLM_PROVIDER=openai #use 'openai' for OpenAI models, 'ollama' for local models

# OpenAI
OPENAI_API_KEY=
OPENAI_MODEL=openai/gpt-4.1
OPENAI_BASE_URL=https://models.github.ai/inference

# Ollama
OLLAMA_MODEL=qwen3
OLLAMA_BASE_URL=http://host.docker.internal:11434

# API configuration
REMOTE_ACTION_URL=http://agents:8000/copilotkit
AA_GRAPH_MCP_SERVER_URL=http://host.docker.internal:8002/sse
GRAPHQL_API_TOKEN=
GRAPHQL_CLIENT_NAME=apimgmtgql

# Authentication configuration
AUTH_WELLKNOWN=https://idptest.aa.com/.well-known/openid-configuration
AUTH_CLIENT_ID=
AUTH_CLIENT_SECRET=
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

# Debugging
SUPERVISOR_AGENT_DEBUG=true
SAMPLE_AGENT_DEBUG=true
MCP_AGENT_DEBUG=true